h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.1;
  color: #fffaa4;
}
h4 {
  color: #fffaa4;
}

h3 {
  color: #fffaa4;
}

/* NAVIGATION */

.logo {
  margin-right: 10px;
}



  .navbar-brand {
  font-size:18px;
  }


.menu-big {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #153e90;
  padding: 4px 10px;
  border: solid #fffaa4 2px;
  text-decoration: none;
}

.navbar {
  padding-top: 15px;
}

.nav-link {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin: 0 15px;

}

/* H1 AND IMAGE */

.top-block {
  background-color: #153e90;
}






.order-list {
  margin-top: 90px;
  /* background-color: red; */
}

.pr {
  /* background-color: yellow; */
margin: auto;
width: 100%;
}

.kf {
  /* background-color: white; */
/* margin: auto; */
width: 50%;
margin: auto;
text-align: center;

}

.kk {
/* background-color: blue; */
margin: auto;
width: 50%;
text-align: center;
}



.ub {
  text-align: center;
}
.moment {
   padding-top: 20px;
   padding-bottom: 30px;
}

.alarm {
  margin-left: 20px;
}

#hidden {display:none;}
#show:hover + #hidden{display:block;}

.hover-text {
  position: absolute;
  padding: 20px;
  margin-top: 20px;
  background-color: #153e90;
  border: 4px solid #fffaa4;
  border-radius: 20px;
  z-index: 1000;
}




.title-text {
  margin: 60px 0;
}

.title-image {
  height: 480px;
  padding-left: 60px;
  transform: rotate(20deg);

}

.navbar {
  background-color: #153e90;
  margin-left: 0;
}


.dropdown-item {
  font-family: Arial;
  color: #761f8c;
  font-size: 20px;
}

.menu-big:hover {
  text-decoration: none;
}



.btn-selection {
  background: #153e90;

margin: 40px 0 50px 0;

  border-radius: 50px;
    text-decoration: none;
    border: 4px solid #fffaa4;
    padding: 12px 23px 12px 23px;

}





.btn-conf {
  background: #0e49b5;



  border-radius: 50px;
    text-decoration: none;
    border: 4px solid #fffaa4;
    padding: 12px 23px 12px 23px;

}

.btn-conf:hover {
  background: #3cb0fd;

  text-decoration: none;
}

.btn-order {
  background: #54e347;
    border: 4px solid #54e347;
  border-radius: 50px;
  text-decoration: none;
    padding: 12px 5px 12px 5px;
}

.btn-order:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}




@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

.avatar {
	/* overflow: hidden;
		transform: translatey(0px); */
    /* height: 520px;
    width: auto; */
    padding-left: 0px;
    /* background-color: red; */

	animation: float 6s ease-in-out infinite;
	/* img { width: 100%; height: auto; } */
}

.img-btn {
  width: 100%; height: 100%;
  margin: auto;
  padding: 5%;
}
